<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<title>Discont</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
/> -->
<!-- <link rel="stylesheet" href="/assets/style.css" type="text/css" /> -->
<!-- Google Web Font -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>

<!--  Bootstrap 3-->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<!-- OWL Carousel -->
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/owl.theme.css">

<!--  Slider -->
<link rel="stylesheet" href="assets/css/jquery.kenburnsy.css">

<!-- Animate -->
<link rel="stylesheet" href="assets/css/animate.css">

<!-- Web Icons Font -->
<link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="assets/css/iconmoon.css">
<link rel="stylesheet" href="assets/css/et-line.css">
<link rel="stylesheet" href="assets/css/ionicons.css">

<!-- Magnific PopUp -->
<link rel="stylesheet" href="assets/css/magnific-popup.css">

<!-- Tabs -->
<link rel="stylesheet" type="text/css" href="assets/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="assets/css/tabstyles.css" />

<!-- Loader Style -->
<link rel="stylesheet" href="assets/css/loader-1.css">

<!-- Costum Styles -->
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/responsive.css">

<style>
  h1 {
    font-size: 12rem;
  }

  .link-input {
    margin-bottom: 3rem;
  }

  .link-input input {
    margin-bottom: 1rem;
  }

  footer {

    height: 100px !important;
  }

  /* input {
    height: 5rem !important;
    max-width: 30%;
    /* border: 3px solid black !important; */

  /* img {
      max-width: 100%;
      position: relative;
      display: block;
    } */

  /* a {
    cursor: pointer;
  } */

  /* body {
    color: green;
  } */
</style>