<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      oooooops, this page does not exist! but it is ok! Go home or check these!
    </div>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
