<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    oooooops, looks like there has been an error on a server side Please,
    refresh the website.
  </div>

  <footer>
    <% include ./partials/footer %>
  </footer>
</body>

</html>