<div class="header">
    <div class="container">
        <a href="/login" class="btn ">Log In</a>
        <a href="/logout" class="btn btn-primary">Log out</a>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>Discont</h1>
    </div>
</div>