<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      oooooops, this page does not exist! but it is ok! Go home or check these!
      <div
        class="tenor-gif-embed"
        data-postid="5916341"
        data-share-method="host"
        data-width="100%"
        data-aspect-ratio="2.009433962264151"
      >
        <a href="https://tenor.com/view/travolta-gif-5916341"
          >John Travolta Lost GIF</a
        >
        from
        <a href="https://tenor.com/search/johntravolta-gifs"
          >Johntravolta GIFs</a
        >
      </div>
      <script
        type="text/javascript"
        async
        src="https://tenor.com/embed.js"
      ></script>
    </div>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
