<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <div class="row">
      <h2>Login</h2>
      <form method="POST" action="/login">
        <input type="text" name="login" id="login" size="100" class="form-control" />
        <input type="password" name="password" id="password" size="100" class="form-control" />
        <input type="submit" value="OK" id="sumit" class="btn btn-default" />
      </form>
    </div>
  </div>

  <% include ./partials/footer %>
</body>

</html>