<!-- views/partials/footer.ejs -->
<footer class="container">
    <p class="text-center text-muted">© Copyright 2019</p>
    <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="assets/js/vendor/pace.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/classie.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="assets/js/vendor/jquery.velocity.min.js"></script>
    <script src="assets/js/vendor/jquery.kenburnsy.min.js"></script>
    <script src="assets/js/vendor/textslide.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/tabs.js"></script>
    <script src="assets/js/ef-slider.js"></script>
    <script src="assets/js/vendor/owl.carousel.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/jquery.social-buttons.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/ajax.js"></script>
</footer>